*.FileListAbsolute.txt
*.aps
*.bak
*.cache
*.exe
*.manifest
*.pdb
*.pyc
*.stackdump
*.zip
.idea
.vs/
Debug
Src/JAutomate/DataFiles/LicMgrConfig.xml
Src/JAutomate/Display.stp
Src/JAutomate/KlaRunner - Original.ini
Src/JAutomate/KlaRunner.ini
Src/JAutomate/PsiIcShiftLog.log
Src/JAutomate/SeriousError.txt
Src/JAutomate/SimulatorLog
Src/JAutomate/TaperPosLog.log
Src/JAutomate/TempLog.log
Src/JAutomate/TestReport.txt
Src/JAutomate/handler/log/
Src/JAutomate/hostCam.pid
Src/OldBatch/JLog.txt
Trace
bin
ipch
obj
