*.cache
*.FileListAbsolute.txt
*.exe
*.pdb
*.manifest
.idea
*.stackdump
*.zip
*.bak
*.aps
*.pyc
Trace
ipch
.vs/
/.project
obj
bin
Debug
Src/JAutomate/KlaRunner.ini
Src/JAutomate/Display.stp
Src/JAutomate/SeriousError.txt
Src/JAutomate/SimulatorLog
Src/JAutomate/TestReport.txt
Src/JAutomate/PsiIcShiftLog.log
Src/JAutomate/TaperPosLog.log
Src/JAutomate/handler/log/
